*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.navbar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    position: fixed;
    list-style: none;


}
.container{
    height: 30vh;
    width: 100%;
    
}
.navbar .menu li{
    display: inline-block;
    float: left;
    line-height: 70px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: -30px;
    margin-left: 80px;
}
.navbar .menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    transition: .4s;
}
.navbar .heading{
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-right: 380px;
    color: rgb(4, 204, 54);
    font-size: 25px;
}

.navbar .menu1 li{
    display: inline-block;
    float: right;
    margin-top: -50px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 60px;
}
.navbar .menu1 li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: .4s;
    font-family: 'Times New Roman', Times, serif;
}
.box{
    width: 30%;
    height: 30%;
    border: none;
    text-align: left;
    padding: 30px 70px 70px 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    background-color: rgb(252, 252, 252);
}
.box .headtext{
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box .paragraphtext{
    font-size: 15px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box .buttontext{
    padding: 10px;
    color: rgb(255, 252, 251);
    margin-top: 40px;
    background-color: rgb(38, 105, 12);
    align-items: left;
    border: none;
}